/* Base styles
* includes base type and layout styles
*/

/* set the default color, font-size, and line height */
html {
  color: #333;
  font-size: 1em;
  line-height: 1.4;
}

/* make images and embedded media fluid */
img,
object {
  max-width: 100%;
}
