.menu-container {
  background: @dark-bg;
}

.menu-list {
  li {
    padding: 1em;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.1em;
  }
}

@media screen and (min-width: 620px) {

  .menu-list {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    li {
      width: 31%;
      margin: 10px 1%;  
    }
  }
}
