<section id="countdown" class="countdown-container">
  <div class="wrap">
    <ul class="section-list countdown-list">
      <li>Years<span id="years"></span></li>
      <li>Days<span id="days"></span></li>
      <li>Hours<span id="hours"></span></li>
    </ul>
  </div>
</section>
